

$default-font: 'Meiryo', sans-serif;
$en-font: 'Georgia', serif;

$sp: 320px;
$tab: 768pxx;
$pc: 960px;

$default-lh:1.5;
$title-lh:1.1;

$letter-color1: #333;
$letter-color2: #359323;

$bgc: #ebfc9c;



