#header {
    #header_v {
    height: 280px;
	background-image: url(../img/header_v.png);
    }
    
    #logoM{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    
    #logoL{
        position: absolute;
        display: none;
    }
    
    #titles {
	    margin: 50px auto;
    }
    #main_title {
	    margin: 50px 60px 10px 60px;
    }
    #sub_title{
        margin: 0 60px;
        color: #f1368e;
        font-size: 10px;
    }
}

@media screen and (min-width:768px){
    #header{
        margin-bottom: 30px;
    #header_v{
        width: 50%;
        margin-top: 30px;
        margin-right: 30px;
        float: right;
    }
    #logoM{
        display: none;
    }
    
    #logoL{
        display: block;
        top: 30px;
        left: 50px;
    }
    #titles {
	    margin-left: -20px;
        margin-top: 100px;
        text-align: left;
    }
  }
}

//a {
//    display: block;
//    text-align: center;
//    //高さを持たせるには①lineheightか②paddingを設定
//    line-height: 56px;
//    color: #fff;
//    text-decoration: none;
//    font-size: 16px;
//    //               &:hover{}
//    //       background-color: #183400;
//    //    background-image: linear-gradient(to bottom, #1d4000, #1d1100);
//    text-shadow: 1px 2px #000;
//}


