//@media screen and (min-width:940px){
//
//}
#header,
#main,
#main2,
#sub {
    text-align: center;
}

#main_v {
	background-image: url(../img/main_v.png);
    background-size: cover;
    height: 300px;
}
#mainintro {
//     width: 70%;
  .mainL {
    float: left;
    width: 40%;
    h2 {
        font-size: 10px;
    }
    h1,
    h2,
    #hidepic{
        text-align: right;
    }
    h1 {
        padding-right: 15px;
    } 
      #hidepic{
          display: none;
      }
  }

  .mainR {
    float: right;
    font-size: 8px;
    width: 40%;
    dl {
        text-align: left;
    }
    dt {
        clear: both;
        float: left;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    dd {
        padding-bottom: 10px;
    }
  }
}
//#main-v {
//	float: right;
//    width: 50%;
//}

#main2 {
    clear: both;
    //    width: 80%;
    //    font-family: 'Meiryo', sans-serif;
    #main2_v {
	    background-image: url(../img/skill.jpg);
        background-size: cover;
        height: 213px;
}
    .Skills {
        text-align: left;
        margin-left: 25%;
        margin-bottom: 30px;
    }
    #hidepic2{
        display: none;
    }
    .Works h2 {
        text-align: left;
        margin-left: 25%;
    }
    .Works h3 {
        margin-bottom: 10px;
    }
    .site {
        width: 100%;
        height: 150px;
        text-align: center;
    
    .dochoL{
        display: none;
    }
        .dochoM{
            float: left;
            width: 48%;
            text-align: right;
        }
    .groupworkL {
	    display: none;
    }
    .groupworkM {
        float: right;
        width: 48%;
        text-align: left;
    }
    }
    .logo {
        width: 100%;
        height: 150px;
      .flower {
        float: left;
        width: 48%;
        text-align: right;
      }
    
      .kyoto {
        float: right;
        width: 48%;
        text-align: left;
      }
    }
    #workspic {
	    display: none;
    }
}

#sub{
    #sub_v {
	   background-image: url(../img/grapeswithwine.png);
       background-size: cover;
       height: 300px;
     }

 .contact {
    text-align: center;
//    margin-left: 25%;
    p {
        font-size: 12px;
        padding-left: 20px;
    }
    h2{
         margin-left: -120px;
     }
 }
}

#footer {
    text-align: center;
    height: 30px;
    padding-top: 20px;
    font-size: 6px;
}

@media screen and (min-width:768px) {
    #titles {
        position: absolute;
        top: 50px;
        left: 20px;
    }
    #main {
        width: 100%;
        height: 250px;
        #mainintro {
            float: left; 
            width: 40%;
            margin-left: 40px;
            margin-top: 30px;
            .mainL {
//                float: left;
//                width: 50%;
                text-align: left;
                
                h2 {
                    font-size: 10px;
                    
                }
                h1 {
                    padding-right: 15px;
                    
                }
                #hidepic{
                    display: block;
                }
            }
            .mainR {
                float: right;
                font-size: 8px;
                width: 40%;
                dl {
                    text-align: left;
                }
                dt {
                    clear: both;
                    float: left;
                    padding-right: 10px;
                    padding-bottom: 10px;
                }
                dd {
                    padding-bottom: 10px;
                }
            }
        }
        #main_v {
           width: 50%;
           margin-top: 30px;
           margin-right: 30px;
           float: right;
        }
    }
    #main2 {
        #main2_v {
           width: 50%;
           margin-top: 30px;
           margin-right: 30px;
           float: right;
        }
        #main2intro {
            float: left; 
            width: 45%;
            margin-left: -20px;
            margin-top: 30px;
//        #hidepic2{
//        display: block;
//        }
            .Skills{
                margin-bottom: 180px;
            }
                #hidepic2{
                    display: block;
                    margin-top: -150px;
                    margin-left: -90px;
                }  
            
            #works{
                width: 100%;
                height: 100%;
                margin-top: 50px;
//                float: right;
                margin-left: 100px;
                position: relative;
             .Works {
                 h2{
//                     text-align: left;
                     margin-left: 0;
                     margin-bottom: 10px;
                 }
              
             .site {
                 margin-bottom: 50px;
                 h3{
                     text-align: left;
                     padding-left: 10px;
                 }
	               .dochoL{
                       display: block;
                       float: left;
//                       width: 48%;
//                       text-align: left;
                   }
                   .dochoM{
                       display: none;
                   }
                 .groupworkL {
                 	display: block;
                    float: left;
                     margin-left: 20px;
//                    width: 80%;
//                    text-align: left;
    
                 }
                 .groupworkM {
                 	display: none;
                 }
             }
             }
                .logo{
                    clear: both;
                    position: absolute;
                    top: 240px;
                    left: 100px;
                }
           }
          }
             #workspic {
	         display: block;
             float: right;
             margin-right: 30px;
             }
            
        }
    
#sub{
    clear: both;
    #sub_v {
           width: 50%;
           margin-top: 30px;
           margin-right: 30px;
           float: right;
     }

 .contact {
            float: left; 
            width: 40%;
     margin-top: 30px;

     p{
         font-size: 16px;
         padding-left: 60px;
     }
 }
}
#footer {
    font-size: 8px;
}
}